html {
  display: table;
  width: 100%;
}
body {
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

main {
  margin: 0 auto;
  border: 0.5em double rgba(132, 7, 7, 0.95);
  max-width: 100%; /* 33em */
  height: 100%;/* 56em*/
}

/* HEADING */


header {
  height: 25vw;
  max-height: 9em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

.header-content {
  height: 90%;
  width: 100%;
  display: flex; /* CSS3 way of vertically aligning text*/
  align-items: center;
  justify-content: center;
}

.udacity-logo {
  max-height: 100%;
  width: 25%;
  float: left;
}

h1 {
  float: right;
  padding: auto;
  width: 75%;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* MAIN SECTIONS */

.hero {
  padding: 1em;
  height: 27em;
  /*width: 31em;*/
  max-width: 100%;
  background-color: rgba(132, 7, 7, 0.95);
  color: white;
}

.my-picture {
  display: block;
  margin: 0 auto 0.6em;
  max-width: 100%;
  border: 0.13em solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.iama {
  max-width: 100%;
  color: #969696;
  letter-spacing: 0.05em;
  font-size: 1.25em;
  margin: 0;
}

.my-info {
  max-width: 100%;
  font-size: 1.4em;
  margin: 0 auto 1.4em;
}

.my-info:last-of-type {
  margin: 0;
}

.my-name {
  color: white;
}

.about-me {
  padding: 1em;
}

/* MEDIA QUERIES */

@media screen and (max-width: 380px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 464px) and (min-width: 381px) {
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 465px) {
  h1 {
    font-size: 2.3em;
  }
  body {
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding: auto;
  }
  h1 {
    font-size: 2.6em;
  }
  body {
    padding: 0px 50px 0px 50px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 10px;
  }
}
